PYTHONPATH=./src
MPLCONFIGDIR=./.runtime/matplotlib
JUPYTER_RUNTIME_DIR=./.runtime/jupyter/runtime
HF_HOME=./.runtime/huggingface
HF_DATASETS_CACHE=./.runtime/huggingface/datasets
TORCH_HOME=./.runtime/torch
KERAS_HOME=./.runtime/keras
TOKENIZERS_PARALLELISM=false
TF_CPP_MIN_LOG_LEVEL=2
TIKTOKEN_CACHE_DIR=./.runtime/tiktoken-cache
TOKENIZATION_PREMIUM_OUTPUT_ROOT=./outputs
